<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta description="Google Map APIを用いた簡易地図アプリ" />
    <meta og:description="Google Map APIを用いた簡易地図アプリ" />
    <title>MapApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXliToLxpMEYxKmmidqrLIq4nA-a2_1vc&libraries=geometry,places"
            async></script>
    <script src="https://kit.fontawesome.com/c4b2d4b6d6.js" crossorigin="anonymous"></script>
</head>
<body>
    <div>
    @RenderBody()
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="col-8">&copy; 2021 - MapApp(GoogleMapAPIを用いた簡易地図アプリ) created by Hiro</div>
                <div class="col-4">
                    <a href="https://twitter.com/hiro_cachless" target="_blank">
                        <i class="fab fa-twitter-square fa-2x" style="vertical-align: middle;"></i>
                    </a>
                    <a href="https://github.com/kannna5296" target="_blank">
                        <i class="fab fa-github-square fa-2x" style="vertical-align: middle;"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/initMap.js" asp-append-version="true"></script>
    <script src="~/js/getCoworkingspace.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
