@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-3">
        <div class="mb-md-5">
            <p class="heading font-weight-bold">地点検索</p>
            <input class="width-full" id="address" type="text" placeholder="地点を入力してください" />
            <button id="getMap" class="btn">Get Map</button>
        </div>
        <div class="mb-md-5">
            <p class="heading font-weight-bold">近隣コワーキングスペース検索</p>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="currentpositionflg">
                <label class="form-check-label" for="currentpositionflg">現在地周辺を検索</label>
            </div>
            <button id="getCW" class="btn">コワーキングスペース表示</button>
        </div>
        <div class="mb-md-5">
            <p class="heading font-weight-bold">経路検索</p>
            <div>
                <input class="width-full" id="start" type="text" placeholder="始点を入力してください" />
            </div>
            <div>
                <input class="width-full" id="end" type="text" placeholder="終点を入力してください" />
            </div>
            <div>
                移動方法
                <select id="travelmode">
                    <option value="DRIVING">車</option>
                    <option value="WALKING">徒歩</option>
                    <option value="BICYCLING">自転車</option>
                    <option value="TRANSIT">電車</option>
                </select>
            </div>
            <button id="getRoute" class="btn" value="Get Route">Get Route</button>
        </div>
    </div>
    <div class="col-md-6">
        <div id="map"></div>
    </div>
    <div class="col-md-3">
        <p id="cw1_name" class="font-weight-bold"></p>
        <p id="cw1_description">AAA_説明</p>
        <p id="cw2_name" class="font-weight-bold"></p>
        <p id="cw2_description">BBB_説明</p>
        <p id="cw3_name" class="font-weight-bold"></p>
        <p id="cw3_description">CCC_説明</p>
    </div>

</div>