@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-8">
        The World from my view
    </div>
    <div class="col-md-8">
        <div id="map" style="height:600px; width:600px;"></div>
    </div>
    <div class="col-md-4">
        <input type="button" value="View Map" onclick="getMap()" />
        <p>地名を入力し、"View Map"を押してください</p>
        <input id="place" type="text" />
        <input id="getRoute" type="button" value="Get Route"  />
        <p>始点と終点を入力し、"Get Route"を押してください</p>
        <input id="start" type="text" placeholder="始点"/>
        <input id="end" type="text"placeholder="終点"/>
    </div>
    <script>

    </script>
</div>