@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-8">
        The World from my view
    </div>
    <div class="col-md-8">
        <div id="map" style="height:600px; width:600px;"></div>
    </div>
    <div class="col-md-4">
        <input type="button" value="View Map" onclick="initMap()" />
        <p>地名を入力し、"View Map"を押してください</p>
        <input id="place" type="text" />
    </div>
    <script>

    </script>
</div>