/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/*.btn {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 0 10px;
    width: 100%;
    max-width: 100%;
    background-color: #666666;
    border: 2px solid transparent;
    font-size: 1.125rem;
    color: #fff;
    transition: 0.25s;
    margin: 5px 0px;
}*/

/*    .btn:focus,
    .btn:hover {
        background-color: #fff;
        color: #666666;
        border-color: currentColor;
    }*/

.description {
    margin: 0;
}

.container {
    width: 100%;
}

.width-full {
    width: 100%;
}

@media (min-width: 1200px) {
    #map {
        height: calc( 100vh - 80px );
        width: 100%;
        background: #aaa;
    }
}

.floating-panel {
    width: 320px;
    position: absolute;
    left: 10px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    line-height: 30px;
    padding-left: 10px;

    border-radius: 5px;
}

.top {
    top: 10px;
}

.second {
    top: 100px;
}

.third {
    top: 260px;
}

.p-normalize {
    margin-bottom: 0;
}

.searchbutton {
    width: 10%;
}

.searchbox {
    width: 85%;
    border: none;
}

.searchbox:focus {
    outline: none;
}

.fab {
    padding-right: 15px;
}